<div class="container">
  <div>
  <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!--ユーザの情報を表示-->
      <h1>User info</h1>
      <%= render 'info', user: @user %>

      <!--新規投稿-->
      <%= render 'books/form', book: @book %>
    </div>

    <dic class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <%= render 'books/index', books: @books %>
    </dic>
  </div>
</div>