<h2><%= @range %> search for "<%= params[:word] %>"</h2>
  <!--検索対象がuserのとき-->
  <% if @range == "User" %>
    <%= render 'users/index', users: @users %>
  <% else %>
    <%= render 'books/index', books: @books %>
  <% end %>
